@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "DM Sans", sans-serif;
}

section {
  width: 100vw;
  height: 100vh;
  background: #2f1893;
  padding-top: 25px;
}

.bg-body-tertiary {
  background: #2f1893 !important;
  font-weight: bold;
}

ul li a:hover, .active{
	color: #1da1f2 !important;
	font-weight: bold;
}

.logo {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: -0.2926828861236572px;
  text-align: center;
  color: #fff !important;
  text-decoration: none;
}

/* .active {
  color: #1da1f2 !important;
  font-weight: bold;
} */

li a {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff !important;
  padding: 7px 33px !important;
}

li .button {
  background: #e93a7d;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  padding: 7px 21px !important;
  text-decoration: none;
}

.navbar-nav {
  position: absolute;
  right: 9%;
}

.hero {
  width: 100%;
  height: auto;
  margin: 40px 0px;
}

.heading-1 {
  width: 100%;
  height: auto;
  margin: 40px 0px 0px 0px;
}

.heading-1 h1 {
  font-family: DM Sans;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 2.5px;
  text-align: left;
  color: #fff !important;
  padding-top: 50px;
}

p {
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff !important;
}

.button {
  background: #e93a7d;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  padding: 7px 21px !important;
  text-decoration: none;
}

.button1 {
  background: #482be7;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  padding: 12px 177px !important;
  text-decoration: none;
}

.heading-2 {
  width: 100%;
  height: auto;
  background: #fff !important;
  border-radius: 10px;
  text-align: center;
  margin: 15px 0px 30px 0px;
}

.heading-2 h2 {
  font-family: DM Sans;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 15px 0px;
}

.heading-2 input {
  width: 70%;
  height: 50px;
  margin-top: 15px;
  border-radius: 50px;
  border: 1px solid#EBEAED;
}

.heading-2 input::placeholder {
  padding-left: 24px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  color: #00000060;
}

.taxt {
  text-align: center;
  padding: 15px 0px;
}

p span {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #00000060;
  padding-left: 25px;
}

.image {
  margin: 25px 0px;
}

.button2 {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  background: #1da1f2;
  padding: 12px 130px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
}

.text2 {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #00000060 !important;
  padding: 25px 0px;
}

.text2 span {
  color: #25dac5;
}


@media only screen and (max-width: 600px) {
	.heading-1 h1{
		padding: 10px 0px;
	}

	section{

		height: auto;
	}

	.hero {
		margin: 0px 0px 15px 0px;
	}

	li a {
		font-family: DM Sans;
		font-size: 18px;
		font-weight: 500;
		line-height: 26px;
		letter-spacing: 0px;
		text-align: left;
		color: #000 !important;
		padding: 7px 33px !important;
	  }

	.navbar-nav {
		position: absolute;
		left: 10px;
		background-color: #fff;
		box-shadow: -1px 2px 10px 0px #5a5a5a;
		padding: 15px 0px;
		border-radius: 10px;
		text-align: center;
		
	  }

	.heading-1{
		margin: 10px 0px;
	}

	.heading-2 input{
		width: 90%;
	}

	.button1{
		padding: 12px 133px !important;
	}

	.button2 {
		padding: 12px 98px;
	}
	
  }


  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.heading-2 input{
		width: 90%;
	}

	.button1{
		padding: 12px 123px !important;

	}

	section{
		
		height: auto;
	}

	.button2 {
		padding: 12px 86px;
	}

	.heading-1 {

		padding: 10px 0px 25px 0px;
	}

	.heading-1 h1{
	
		padding-top: 0px;
	}
   }
